*{
    box-sizing: border-box;
    margin: auto;
}


/* Float four columns side by side */
.column {
    width: 33%;
    padding: 25px;
    height: auto;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    justify-content: center;  
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    justify-content: center;
    background-color: #f3f3f3;
    height: 200px;
    border-radius: 10%;
    
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1); /* this adds the "card" effect */
}

.Title {
    padding: 1%;
    font-weight: bold;
}

.btn:hover {
    color: white;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 720px) {
    .column {
        width: 100%;
        display: block;
        margin: 10px;
    }
    .row {
        /* margin: 1px; */
        margin-top: 500px;
    }

    .card {
        border-radius: 5%;
    }
}
