*{
    box-sizing: border-box;
    margin: auto;
}


/* Float four columns side by side */
.column {
    margin: 1%;
    padding: 15px;
    display: inline-flex;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    justify-content: center;  
    display: flex;
    position: relative;
}

/* Style the counter cards */
.homeCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: inherit;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    height: 14rem;
    border-radius: 10%;
    margin: 1%;
}

.homeCard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1); /* this adds the "card" effect */
}

.Title {
    padding: 2%;
    font-weight: bold;
}

.btn {
    width: 10rem;
}
.btn:hover {
    color: white;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 720px) {
    .column {
        width: 90%;
        margin: 10px;
    }

    .homeCard {
        border-radius: 5%;
        height: 10rem;
    }
}
