

.TableContainer
{
/*   background-image: url(beach.jpg);
  background-size: cover; */
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.TableHeader
{
  left:10%;
  top:10%;
  position: relative;
}

.StatsTable
{   
    left:10%;
    top:10%;
    position: relative;
    border-collapse: collapse;
    width:70%;
}

.StatsRow
{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.cl1
{
  background-color: lightblue;
}

.cl2
{
  background-color: skyblue;
}

@media all and (max-width: 450px)
{
  .TableContainer{
    font-size: 70%;
  }
}

@media all and (max-height: 450px)
{
  .TableContainer{
    font-size: 70%;
  }
}


@media all and (max-width: 300px)
{
  .TableContainer{
    font-size: 50%;
  }
}

@media all and (max-height: 300px)
{
  .TableContainer{
    font-size: 50%;
  }
}
