

.TableContainer
{
  /* background-image: url(beach.jpg);
  background-size: cover; */
  height: 650px;
  width: 1300px;
  position: fixed;
}

h1
{
  left:10%;
  top:10%;
  position: relative;
 
}

table
{   
    left:10%;
    top:10%;
    position: relative;
    border-collapse: collapse;
    width:70%;
}

th, td
{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

.cl1
{
  background-color: lightgreen;
}

.cl2
{
  background-color: green;
}

@media all and (max-width: 900px)
{
  .TableContainer{
    width: 100%;
  }
}
